<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<title>그리드 레이아웃</title>
	<style>
		.row1 {
			border: 1px solid black;
			padding-top: 15px;
			padding-left: 25px;
			font-size: 20px;
			height: 100px;
			background: orange;
		}

		.row2 {
			border: 1px solid black;
			padding-top: 15px;
			padding-left: 25px;
			font-size: 20px;
			height: 150px;
			background: palegreen;
		}

		.row3 {
			border: 1px solid black;
			padding-top: 15px;
			padding-left: 25px;
			font-size: 20px;
			height: 200px;
			background: skyblue;
		}

		.for-xs {
			border: 1px solid black;
			font-size: 20px;
			height: 150px;
			background: pink;
		}

		h3 {
			color: red;
		}
	</style>
</head>

<body>
	<h1 align="center">가변 그리드 레이아웃</h1>

	<!-- 
	xs : 768px미만
	sm : 768px이상
	md : 992px이상
	lg : 1200px이상
-->


	<!-- 부트스트랩 버전 3 이하에서만 적용가능 -->
	<!-- 3버전까지만 사용했고 4버전이상 부터는 d-[사이즈]-(none or block) -->
	<!-- 3버전이하 사용방법 링크 : http://bootstrapk.com/css/#responsive-utilities -->
	<!-- 4버전이상 사용방법 링크 : https://getbootstrap.com/docs/4.0/utilities/display/  -->
	<h3 align="center" class="hidden-md hidden-sm hidden-xs">현재 화면은 데스크탑 전용입니다.</h3>
	<!-- lg사이즈인 1200px이상 display -->
	<h3 align="center" class="hidden-lg hidden-sm hidden-xs">현재 화면은 노트북 전용입니다.</h3>
	<!-- md사이즈인 992px이상 1200미만 display -->
	<h3 align="center" class="hidden-lg hidden-md hidden-xs">현재 화면은 태블릿 전용입니다.</h3>
	<!-- sm사이즈인 768이상 992미만 display-->
	<h3 align="center" class="hidden-lg hidden-md hidden-sm">현재 화면은 스마트폰 전용입니다.</h3>
	<!-- xs사이즈인 768미만 display -->

	<br>

	<!-- 그리드 시스템(Grid System)이란, 
		페이지 콘텐츠를 논리적이고 일관성 있는 질서와 구조로 디자인할 수 있도록 돕는 그래픽 시스템을 말합니다. 
		여기서 그리드(Grid)는 사전적 의미로 '격자무늬' 또는 '격자판'을 의미하며 
		격자 선에 맞춰 디자인에 규칙을 부여하여 페이지를 더 보기 좋고, 알기 쉽게 제작하는 데 도움이 됩니다.-->
	<!-- 8그리드 12그리드 16그리드가 있으며 12그리드가 일반적으로 사용된다 -->

	<!-- col을 정렬하기 위해서는 상위요소에 row클래스를 꼭 작성하여야한다 -->
	<div class="row">

		<!-- 12그리드 기준 : col-[사이즈]-{1~12} -->
		<!-- 
			{1~12} : 
			12그리드 기준 몇개의 그리드를 차지할 것인지 명시하는 부분이다 
			ex) col-lg-12 이면 1200px(lg)사이즈에서 12그리드를 차지한다
		-->
		<div class="row1 col-lg-1 col-md-2 col-sm-3 col-xs-6">1</div>
		<div class="row1 col-lg-1 col-md-2 col-sm-3 col-xs-6">2</div>
		<div class="row1 col-lg-1 col-md-2 col-sm-3 col-xs-6">3</div>
		<div class="row1 col-lg-1 col-md-2 col-sm-3 col-xs-6">4</div>
		<div class="row1 col-lg-1 col-md-2 col-sm-3 col-xs-6">5</div>
		<div class="row1 col-lg-1 col-md-2 col-sm-3 col-xs-6">6</div>
		<div class="row1 col-lg-1 col-md-2 col-sm-3 col-xs-6">7</div>
		<div class="row1 col-lg-1 col-md-2 col-sm-3 col-xs-6">8</div>
		<div class="row1 col-lg-1 col-md-2 col-sm-3 col-xs-6">9</div>
		<div class="row1 col-lg-1 col-md-2 col-sm-3 col-xs-6">10</div>
		<div class="row1 col-lg-1 col-md-2 col-sm-3 col-xs-6">11</div>
		<div class="row1 col-lg-1 col-md-2 col-sm-3 col-xs-6">12</div>
	</div>
	<div class="row">
		<div class="row2 col-lg-2 col-md-4 col-sm-6 col-xs-12">1</div>
		<div class="row2 col-lg-2 col-md-4 col-sm-6 col-xs-12">2</div>
		<div class="row2 col-lg-2 col-md-4 col-sm-6 col-xs-12">3</div>
		<div class="row2 col-lg-2 col-md-4 col-sm-6 col-xs-12">4</div>
		<div class="row2 col-lg-2 col-md-4 col-sm-6 col-xs-12">5</div>
		<div class="row2 col-lg-2 col-md-4 col-sm-6 col-xs-12">6</div>
	</div>
	<div class="row">
		<!-- xs사이즈일떄 hidden -->
		<div class="row3 col-lg-2 col-md-1 col-sm-1 hidden-xs">1</div>
		<div class="row3 col-lg-4 col-md-5 col-sm-5 hidden-xs">2</div>
		<div class="row3 col-lg-4 col-md-5 col-sm-5 hidden-xs">3</div>
		<div class="row3 col-lg-2 col-md-1 col-sm-1 hidden-xs">4</div>

		<!-- xs사이즈일때 display -->
		<!-- for-xs는 스타일을 주기위한 클래스 -->
		<div class="row3 for-xs hidden-lg hidden-md hidden-sm col-xs-6">1</div>
		<div class="row3 for-xs hidden-lg hidden-md hidden-sm col-xs-6">2</div>
		<div class="row3 for-xs hidden-lg hidden-md hidden-sm col-xs-6">3</div>
		<div class="row3 for-xs hidden-lg hidden-md hidden-sm col-xs-6">4</div>
	</div>

</body>

</html>